<!doctype html>
<html>

<head>
  <!-- In production, only one script (pdf.js) is necessary -->
  <!-- In production, change the content of PDFJS.workerSrc below -->
  <script type="text/javascript" src="/media/js/pdf.js"></script>

  <script type="text/javascript">
    // Specify the main script used to create a new PDF.JS web worker.
    // In production, change this to point to the combined `pdf.js` file.
    PDFJS.workerSrc = '/media/js/pdf.js';
  </script>
  <script type="text/javascript">
      //
      // Fetch the PDF document from the URL using promices
      // %@
      PDFJS.getDocument('latex.pdf').then(function(pdf) {
              // Using promise to fetch the page
          pdf.getPage(1).then(function(page) {
              var scale = 1.5;
              var viewport = page.getViewport(scale);

              //
              // Prepare canvas using PDF page dimensions
              //
              var canvas = document.getElementById('the-canvas');
              var context = canvas.getContext('2d');
              canvas.height = viewport.height;
              canvas.width = viewport.width;

              //
              // Render PDF page into canvas context
              //
              var renderContext = { canvasContext: context, viewport: viewport };
              page.render(renderContext);
            });
    });
    </script>
    </head>
  <body>
      <canvas id="the-canvas" style="border:1px solid black;"/>
  </body>
</html>
